.container_traffic_light {
  margin: 0 300px;
}
.traffic_light_flex {
  display: flex;
}
.traffic_light {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 50px 30px;
  opacity: 0;
  transition: 0.5s ease;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.active {
  opacity: 1;
}
